## Numbers and Boolean Values

Create a variable equal to "True".

In [1]:
x = True

Check its type.

In [2]:
type(x)

bool

Create a variable equal to 99.

In [3]:
y = 99

Check its type.

In [4]:
type(y)

int

Check the type of the value 0.99.

In [6]:
type(0.99)

float

Turn 99 into a *float*.

In [11]:
z = 99
print(type(z))

z_to_f = float(z)
print(z_to_f)
print(type(z_to_f))

<class 'int'>
99.0
<class 'float'>

Turn 0.99 into an integer. What value did you get?

In [12]:
int(0.99)

0